<!DOCTYPE html>
<html>

<head>
    <title>MentorMatch | Add Person</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.min.css') }}" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
    {% with message = get_flashed_messages(with_categories=True) %}
    {% if message %}
    <div class="flash">
        {% if message[0][0] == "error" %}
        <strong style="color: #ff0000"> Error: </strong>
        {% else %}
        <strong style="color: #3a7e42"> Success: </strong>
        {% endif %}
        {{message[0][1]}}
    </div>
    {% endif %}
    {% endwith %}
    <h1>Add Person</h1>
    <form action="/add" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>

        <label for="is_mentor"> Position </label>
        <select id="position" name="position" required="True" å>
            <option value="mentor"> Mentor </option>
            <option value="mentee"> Mentee </option>
        </select>
        <br>

        <label for="matches">Preferred Matches</label>
        <select id="matches" class="js-example-basic-multiple" name="matches"
            multiple="multiple">
            <optgroup label="mentors">
                {% for mentor in mentors %}
                <option value="{{ mentor.name }}" data-role="mentor">{{ mentor.name }}</option>
                {% endfor %}
            </optgroup>
            <optgroup label="mentees">
                {% for mentee in mentees %}
                <option value="{{ mentee.name }}" data-role="mentee">{{ mentee.name }}</option>
                {% endfor %}
            </optgroup>
                
        </select>
        <br>

        <button type="submit.large">Add Person</button>
    </form>

    <nav class="link_nav">
        <a href="/"> Back to Home</a>
    </nav>

 <script>
        $(document).ready(function() {
            $("#matches").select2({
                width: "80%",
                closeOnSelect: true,
                multiple: true,
                dropdownPosition: 'below',
                placeholder: "Select preferred matches",
                templateSelection: function (data) {
                    // Attach role to the selection object so we can style it
                    let role = $(data.element).data("role");

                    return $('<span class="tag-' + role + '">' + data.text + "</span>");
                },
                templateResult: function(option) {
                    const role = $(option.element).data("role");
                    if (!role) return option.text; // skip optgroup labels
                    const color = role === 'mentor' ? "#5b8def" : "#ee4499";
                    const $option = $(`
                        <span style="display:flex;align-items:center;gap:8px;color:black;">
                            <span style="
                            display:inline-block;
                            width:10px;
                            height:10px;
                            border-radius:50%;
                            background:${color};
                            "></span>
                            ${option.text}
                        </span>
                    `);
                    return $option;
                }
            });
        });
    </script>
</body>

</html>