<!DOCTYPE html>
<html>
<head>
    <title>MentorMatch | Home</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
    {% with message = get_flashed_messages(with_categories=True) %}
    {% if message %}
        <div class="flash">
            {% if message[0][0] == "error" %}
            <strong style="color: #ff0000"> Error: </strong> 
            {% elif message[0][0] == "warning" %}
            <strong style="color: #f9e71f"> Warning: </strong>
            {% elif message[0][0] == "success" %}
            <strong style="color: #3a7e42"> Success: </strong>
            {% endif %}
            {{message[0][1]}}
        </div>
    {% endif %}
    {% endwith %}
    <div style="text-align: center; margin-top: 20px">
    <img alt="Astra Logo" src="static/assets/mentormatch.png" style="width:400px; height: 400px;" alt="MentorMatch"/> 
    </div>
    <h1>MentorMatch</h1>
    <div class="button_div">
        <form action="/match" method="post">
            <button class="large" type="submit"><a> Get Started </a> </button>
        </form>
        <form action="/add" method="get">
            <button class="large" type="submit"><a> Add Person </a> </button>
        </form>
        <form action="/view" method="get">
            <button class="large" type="submit"><a> View People </a> </button>
        </form>
    </div>
    <div class="hline"> </div>
    <h2 class="about_header"> What is MentorMatch? </h2>
    <p class="about_text"> MentorMatch is a service designed to pair mentors to mentees. Each user can create a customizable profile,
        allowing them to select as many preferred partners as they like. When all of the profiles are complete, MentorMatch will
        generate a mapping that maximizes the happiness of all parties involved.
    </p>
    <h2 class="about_header"> How does MentorMatch work? </h2>
    <p class="about_text">
        The designation of mentors and mentees naturally forms the structure of a <a href="https://en.wikipedia.org/wiki/Bipartite_graph"> bipartite graph</a>.
        We generate our assignments via solving a max-weight bipartite matching problem. Our weights are defined as follows: </p>
        <ul class="weight_list">
            <li class="weight_bullet"> <img src="static/assets/icons/heart.tiff" class="mini_icon"> Both partners listed each other as preferred  <span> (2 points) </span>
            <li class="weight_bullet"> <img src="static/assets/icons/happy.tiff" class="mini_icon">  Exactly one partner listed another as preferred  <span> (1 point) </span>
            <li class="weight_bullet"> <img src="static/assets/icons/meh.tiff" class="mini_icon">  Neither partner listed each other as preferred <span> (0 points) </span>
        </ul>
    <p class="about_text">
        The full matching can be viewed via the "Getting Started" page. It can also be downloaded as a separate CSV file,
        which lists the mentor-mentee pairs as well as the matching score.
    </p>
    <h2 class="about_header"> How can I learn more? </h2>
    <p class="about_text">
        The full source code for MentorMatch, including sample datasets, can be found <a href="https://github.com/colbyendres/MentorMatch"> here</a>.
    </p>
</body>
</html>
